@media screen and (max-width: 750px) {

    body {
        background-color: black;
        color: white;
    }

    header {
       display: grid;
       grid-template-columns: auto auto;
       padding: 0.8em;
       border-bottom: 2px solid rgb(248, 242, 238);
    }

    header img {
        width: 5em;
    }

    header h2 {
        font-size: 20px;
        font-family: 'Orelega One', cursive;
    }

    h1 {
        font-size: 11px;
        text-align: center;
        font-family: 'Merriweather Sans', sans-serif;
        margin-top: 3em;
    }

    h1 i {
        font-size: 8px;
        font-family: 'Orelega One', cursive;
    }

    .first-class {
        display: grid;
        width: 100%;
        grid-template-columns: auto;
        justify-content: center;
        margin-top: 2.5em;
    }

    .first-class div:nth-of-type(1) {
        margin-bottom: 2em;
        display: grid;
        justify-content: center;
    }

    .first-class div:nth-of-type(1) p {
        font-family: 'Orelega One', cursive;
        font-size: 12px;
        text-align: center;
    }

    .first-class div:nth-of-type(1) img {
        width: 5em;
        margin: auto;
    }

    .first-class div:nth-of-type(2) {
        margin-bottom: 2em;
        display: grid;
        justify-content: center;
    }

    .first-class div:nth-of-type(2) p {
        font-family: 'Orelega One', cursive;
        font-size: 12px;
        text-align: center;
        margin-bottom: 2em;
    }

    .first-class div:nth-of-type(2) img {
        width: 7em;
        margin: auto;
    }

    .first-class div:nth-of-type(3) {
        margin-bottom: 2em;
        display: grid;
        justify-content: center;
    }

    .first-class div:nth-of-type(3) p {
        font-family: 'Orelega One', cursive;
        font-size: 12px;
        text-align: center;
    }

    .first-class div:nth-of-type(3) img {
        width: 7em;
        margin: auto;
    }

    nav div:nth-of-type(1) {
        font-family: 'Radio Canada', sans-serif;
        font-size: 13px;
    }

    nav div:nth-of-type(1) h3 {
        font-family: 'Radio Canada', sans-serif;
        font-size: 20px;
        margin-bottom: .5em;
    }

    nav div:nth-of-type(2) {
        font-family: 'Radio Canada', sans-serif;
        font-size: 13px;
    }

    nav div:nth-of-type(2) h3 {
        font-family: 'Radio Canada', sans-serif;
        font-size: 20px;
        margin-bottom: .5em;
    }

    nav div:nth-of-type(3) {
        font-family: 'Radio Canada', sans-serif;
        font-size: 13px;
    }

    nav div:nth-of-type(3) h3 {
        font-family: 'Radio Canada', sans-serif;
        font-size: 20px;
        margin-bottom: .5em;
    }

    h6 {
        text-align: center;
        font-family: 'Radio Canada', sans-serif;
        color: rgba(226, 168, 226, 0.418);
        font-size: 15px;
        margin-top: 3.5em;
    }

    .links {
        display: grid;
        border: none;
        grid-template-columns: auto;
        width: 100%;
        justify-content: center;
        margin-bottom: 2em;
    }

    .links a  img {
        width: 1em;
        margin-left: .5em;
        position: relative;
        top: .2em;
    }

    .links a {
        background-color: white;
        margin-top: 1em;
        text-decoration: none;
        text-align: center;
        color: black;
        font-family: 'Radio Canada', sans-serif;
        padding: 0.6em;
        border-radius: 10px;
    } 

    

     .second-class {
        background-color: white;
        color: black;
        margin: auto;
        width: 18em;
        border-radius: 15px;
        text-align: center;
        font-family: 'Radio Canada', sans-serif;
        padding: 0.5em;
    } 

    .second-class + b {
        color: black;
        background-color: yellow;
        padding: .2em;
        border-radius: 10px;
        position: relative;
        left: 12em;
        top: -.3em;
        font-family: 'Radio Canada', sans-serif;
    }

    footer {
        width: 100%;
        border-top: 3px solid white;
        padding-top: 2em;
        margin-top: 5em;
        display: grid;
        justify-content: center;
    }

    footer a {
        background-color: orangered;
        text-align: center;
        padding: 0.5em;
        margin: auto;
        text-decoration: none;
        color: white;
        font-family: 'Radio Canada', sans-serif;
        font-size: 17px;
        border-radius: 10px;
    }

    footer p {
        text-align: center;
        font-family: 'Radio Canada', sans-serif;
        color: rgba(226, 168, 226, 0.144);
        font-size: 15px;
        font-weight: lighter;
        margin-top: -.8em;
    }
    
}

@media screen and (min-width: 1200px) {
    body {
        background-color: black;
        color: white;
    }

    header {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0.8em;
        border-bottom: 2px solid rgb(248, 242, 238);
     }

     
    header img {
        width: 12em;
    }

    header h2 {
        font-size: 3em;
        font-family: 'Orelega One', cursive;
    }

    h1 {
        font-size: 3.5em;
        text-align: center;
        font-family: 'Merriweather Sans', sans-serif;
        margin-top: 3em;
    }

    h1 i {
        font-size: 25px;
        font-family: 'Orelega One', cursive;
    }

    .first-class {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;
        justify-content: start;
        margin-top: 2.5em;
    }

    .first-class div:nth-of-type(1) {
        display: grid;
        justify-content: center;
        margin-right: 4.5em;
    }

    .first-class div:nth-of-type(1) p {
        font-family: 'Orelega One', cursive;
        font-size: 1.5em;
        text-align: center;
    }

    .first-class div:nth-of-type(1) img {
        width: 10em;
        margin: auto;
    }

    .first-class div:nth-of-type(2) {
        display: grid;
        justify-content: center;
        margin-right: 6em;
        margin-top: 2.3em;
    }

    .first-class div:nth-of-type(2) p {
        font-family: 'Orelega One', cursive;
        font-size: 1.5em;
        text-align: center;
    }

    .first-class div:nth-of-type(2) img {
        width: 10em;
        margin: auto;
    }

    .first-class div:nth-of-type(3) {
        display: grid;
        justify-content: center;
    }

    .first-class div:nth-of-type(3) p {
        font-family: 'Orelega One', cursive;
        font-size: 1.5em;
        text-align: center;
    }

    .first-class div:nth-of-type(3) img {
        width: 10em;
        margin: auto;
    }

    nav div:nth-of-type(1) {
        font-family: 'Radio Canada', sans-serif;
        font-size: 18px;
    }

    nav div:nth-of-type(1) h3 {
        font-family: 'Radio Canada', sans-serif;
        font-size: 1.5em;
        margin-bottom: .5em;
        margin-top: 1em;
    }

    nav div:nth-of-type(2) {
        font-family: 'Radio Canada', sans-serif;
        font-size: 18px;
    }

    nav div:nth-of-type(2) h3 {
        font-family: 'Radio Canada', sans-serif;
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    nav div:nth-of-type(3) {
        font-family: 'Radio Canada', sans-serif;
        font-size: 18px;
    }

    nav div:nth-of-type(3) h3 {
        font-family: 'Radio Canada', sans-serif;
        font-size: 1.5em;
        margin-bottom: .5em;
    }

    h6 {
        text-align: center;
        font-family: 'Radio Canada', sans-serif;
        color: rgba(226, 168, 226, 0.164);
        font-size: 25px;
        margin-top: 3.5em;
    }

    .links {
        display: grid;
        border: none;
        grid-template-columns: 15em 15em 15em 15em;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 2em;
    }

    .links a {
        background-color: white;
        margin-top: 1em;
        margin-bottom: 1.5em;
        text-decoration: none;
        text-align: center;
        color: black;
        font-family: 'Radio Canada', sans-serif;
        padding: 0.6em;
        border-radius: 10px;
    } 

    .links a  img {
        width: 1.5em;
        margin-left: .5em;
        position: relative;
        top: .2em;
    }

    .links a:nth-of-type(5) {
        background-color: white;
        margin-top: 1em;
        margin-bottom: 1.5em;
        position: relative;
        left: 18em;
        text-decoration: none;
        text-align: center;
        color: black;
        font-family: 'Radio Canada', sans-serif;
        padding: 0.6em;
        border-radius: 10px;
    }

    .links a:nth-of-type(6) {
        background-color: white;
        margin-top: 1em;
        margin-bottom: 1.5em;
        position: relative;
        left: 22em;
        text-decoration: none;
        text-align: center;
        color: black;
        font-family: 'Radio Canada', sans-serif;
        padding: 0.6em;
        border-radius: 10px;
    }

    .second-class {
        background-color: white;
        color: black;
        margin: auto;
        width: 18em;
        border-radius: 15px;
        text-align: center;
        font-family: 'Radio Canada', sans-serif;
        padding: 0.5em;
    }

    .second-class + b {
        color: black;
        background-color: yellow;
        padding: .2em;
        border-radius: 10px;
        position: relative;
        left: 45em;
        top: -.3em;
        font-family: 'Radio Canada', sans-serif;
    } 

    footer {
        width: 100%;
        border-top: 3px solid white;
        padding-top: 2em;
        margin-top: 5em;
        display: grid;
        justify-content: center;
    }

    footer a {
        background-color: orangered;
        text-align: center;
        padding: 0.7em;
        margin: auto;
        text-decoration: none;
        color: white;
        font-family: 'Radio Canada', sans-serif;
        font-size: 20px;
    }

    footer p {
        text-align: center;
        font-family: 'Radio Canada', sans-serif;
        color: rgba(226, 168, 226, 0.164);
        font-size: 25px;
        margin-top: .5em;
    }
    
}